In [1]:
import matplotlib.pyplot as plt#read dataset
import seaborn as sns#plot graphical
import numpy as np#numerical python use mathmatical calculation
import pandas as pd#plt the graph

In [3]:
#to read the dataset use pandas
df=pd.read_csv("diabetes.csv")

In [5]:
#to display a output first five
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
#Aim: TO predict weeather diabetes have or not

In [8]:
df.shape

(768, 9)

In [9]:
# to check detail about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [11]:
#null value check
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [14]:
x=df.iloc[:,df.columns!="Outcome"]#independent data
y=df.iloc[:,df.columns=="Outcome"]#dependent data

## train and test dataset

In [12]:
from sklearn.model_selection import train_test_split

In [15]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [16]:
y

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

In [17]:
xtrain, xtest, ytrain, ytest=train_test_split(x,y,test_size=0.2,random_state=23) #test20% train80%

In [19]:
xtrain

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
714,3,102,74,0,0,29.5,0.121,32
302,5,77,82,41,42,35.8,0.156,35
133,8,84,74,31,0,38.3,0.457,39
728,2,175,88,0,0,22.9,0.326,22
558,11,103,68,40,0,46.2,0.126,42
...,...,...,...,...,...,...,...,...
31,3,158,76,36,245,31.6,0.851,28
488,4,99,72,17,0,25.6,0.294,28
40,3,180,64,25,70,34.0,0.271,26
742,1,109,58,18,116,28.5,0.219,22
595,0,188,82,14,185,32.0,0.682,22

In [20]:
xtest

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
93,4,134,72,0,0,23.8,0.277,60
228,4,197,70,39,744,36.7,2.329,31
424,8,151,78,32,210,42.9,0.516,36
635,13,104,72,0,0,31.2,0.465,38
684,5,136,82,0,0,0.0,0.640,69
...,...,...,...,...,...,...,...,...
733,2,106,56,27,165,29.0,0.426,22
570,3,78,70,0,0,32.5,0.270,39
148,5,147,78,0,0,33.7,0.218,65
758,1,106,76,0,0,37.5,0.197,26
64,7,114,66,0,0,32.8,0.258,42

In [21]:
ytrain

     Outcome
714        0
302        0
133        0
728        0
558        0
..       ...
31         1
488        0
40         0
742        0
595        1

[614 rows x 1 columns]

## algorithm

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
model=RandomForestClassifier()

In [25]:
model.fit(xtrain,ytrain.values.ravel()) #to train model

RandomForestClassifier()

In [26]:
predi_output=model.predict(xtest)#to test model

In [27]:
predi_output

array([0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1],
      dtype=int64)

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
acc=accuracy_score(predi_output,ytest)

In [30]:
acc

0.8376623376623377